@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-img{
  background-image: url('./images/bg-desktop-dark.jpg');
  background-position: center;
  background-size: cover;
  /* transition: all 200ms linear; */
}

.head-img.light-img{
  background-image: url('./images/bg-desktop-light.jpg');
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 700px){
  .head-img{
    background-image: url('./images/bg-mobile-dark.jpg');
  }

  .head-img.light-img{
    background-image: url('./images/bg-mobile-light.jpg');
  }
}


